.about-container{
    display: flex;
    background-color: white;
    color: black;
    height: 70vh;
    padding: 100px 0 100px 0;
}

.about-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    padding: 0 100px 0 100px;
}

.about-desc > h3{
    margin-bottom: 15px;
    font-size: 28px;
    text-align: left;
}

.about-desc > p {
    width: 100%;
    line-height: 1.5;
    text-align: left;
    font-size: 15px;
    margin-top: .5rem;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.cv-button{
    width: 10rem;
    height: 3rem;
    align-self: center;
    margin-top: 2rem;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 0;
    background: #d35872;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

.cv-button::before{
    width: 30%;
    height: 4rem;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    transition: all 250ms
}

.cv-button:hover{
    color: #e8e8e8;
}

.cv-button:hover::before{
    width: 100%;
}

.cv-button > a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.about-img {
    width: 25rem;
    height: 25rem;
    display: flex;
    align-self: center;
    overflow: hidden;
}

@media only screen and (max-width: 960px){
    .about-container{
        flex-direction: column;
        padding: 0;
        height: auto;
    }
    .about-desc{
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 40px 20px;

    }
    .about-desc > h3{
        font-size: 30px;
        text-align: center;
    }
    .about-img{
        width: 25rem;
        height: 25rem;
        margin-bottom: 50px;
    }
    .about-img > img {
        width: 100%;
    }
    .about-desc > p {
        line-height: 1.5;
        text-align: center;
        font-size: 12px;
    }
    .cv-button{
        width: 20%;
        height: 3rem;
        margin: 1rem;
    }
    .buttons{
        width: 100%;
    }
}

@media screen and (max-width:1030px){
    .about-img{
        width: 25rem;
        height: 25rem;
        margin-bottom: 50px;
    }
    .about-desc > p {
        width: 30rem;
        text-align: left;
        font-size: 20px;
    }
}

@media screen and (max-width:770px){
    .about-desc > p {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
    .buttons{
        margin-top: 2rem;
    }
    .cv-button a{
        font-size: 12px;
    }
    
}

@media screen and (max-width: 600px){
    .buttons{
        margin-top: 1rem;
    }
    .cv-button{
        width: 8rem;
        height: 3rem;
        margin: 1rem;
    }
    .cv-button a {
        font-size: 12px;
    }
  }

  @media screen and (max-width: 430px){
    .about-img{
        width: 18rem;
        height: 18rem;
        margin-bottom: 50px;
    }

    .cv-button a {
        font-size: 9px;
    }
  }