.info-container{
    width: 100%;
    height: 300px;
    background-color: #d35872;
    color: black;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (max-width:960px){
    .info > h1{
        text-align: center;
        padding: 4rem;
        font-size: 25px;
    }
}