
.carousel-container{
    display: flex;
    vertical-align: center;
    align-items: center;
    background-color: black;
    padding: 4rem 0 4rem 0;

}

.slides-box{
    display: flex;
    width: 55%;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.carousel-title{
    color: white;
    width: 40%;
    text-align: center;
    font-size: 30px;
    padding: 0 100px 0 100px;
}

.carousel-title > img{
    height: 4rem;
    margin-top: 1rem;
}

.slide-container-web{
    height: 250px;
    width: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.slide-container-mobile{
    height: 400px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}


.carousel-video {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    object-fit: cover;
    transition: all 0.2 ease-in-out;
}

.carousel-video:hover{
    opacity: 0.9;
}

.slide-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .1rem;
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    opacity: 0.8;
}

.slide-desc > span{
    color: white;
    display: block;
    font-size: 15px;
    padding: 15px 0 15px 0px;
}

.git-icon{
    color: white !important;
    font-size: 22px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 5px;
    border-bottom: 4px solid transparent;
}

.git-icon:hover{
    border-color: white !important;
    transition: all 0.3s ease-out;
}


@media screen and (max-width: 960px){
    .carousel-container{
        flex-direction: column;
    }
    .carousel-title{
        color: white;
        width: 100%;
        text-align: center;
        font-size: 30px;
        padding: 30px 10px 100px 10px;
    }
    .slides-box{
        flex-direction: column;
        width: 90%;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
}